* â {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: "Lato", sans-serif;
    background-color: #eee;
    margin:0;
  }

  
  header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }
  
  .logo {
    width: 60vw;
  }
  
  nav {
    font-weight: 400;
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  li {
    list-style: none;
  }
  
  li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  a:any-link {
    cursor: pointer;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
    margin-top: 40px;
  }
  
  .hero h2 {
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  #form #email {
    padding: 5px;
    border: none;
    width: 100%;
    
  }
  
  #email::placeholder {
    font-size: small;
    color: rgba(150, 150, 150, 0.8);
  }
  
  #form #submit {
    font-weight: 600;
    font-size: medium;
    margin-top: 10px;
    background-color: rgb(36, 186, 174);
    color: white;
    border: none;
    padding: 6px 12px;
  }
  
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
  }
  
  .features {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
  }
  
  .grid {
    display: flex;
    margin-bottom: 30px;
  }
  .ph-fill {
    font-weight: 900;
    font-size: 3em;
  }
  .features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 55px;
    color: rgb(36, 186, 174);
  }
  
  .features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    padding: 5px;
  }
 
  .desc h2,
  .desc p,
  .desc div{
    margin : 0;
  }

   
  .how-it-works {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pricing{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.product{
    border: 1px solid black;
    margin: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 300px;
    width: 100%;
}
.level{
    background-color: rgb(221,221,221);
    padding: 15px 0px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: black;

}

.product > h2{
  margin-top: 15px;
}

.product h2{
margin-bottom: 0;
}

ol li{
    padding:5px;
}

ol{
  padding: 0 20px;
  padding-bottom: 10px;
}

.product .btn{
    padding: 10px 20px;
    border: none;
    background-color: rgb(36, 186, 174);
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 15px;
}

footer{
  background-color: rgb(221,221,221);
  margin-top: 30px;
  padding: 5px 20px 20px 20px;
  
}

footer > ul{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 0;
}

footer > span{
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: rgb(68, 68, 68);
}


@media (max-width: 768px){
  .pricing{
    flex-direction: column;
        align-items: center;
  }
  footer > ul,
  footer > span{
    justify-content: center;
  }
  nav > ul {
    width: 25vw;
  }
}

@media (max-width: 650px){
  nav{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 50px;
  }
  .logo{
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
  nav > ul{
    flex-direction: column;
  }
  .hero{
    margin-top:120px;
  }
  .features{
    margin-top: 10px;
  }
}

@media (max-width: 500px){
  .features .icon{
    display: none;
  }
  .features .desc{
    width: 100%;
    text-align: center;
    padding: 0px 20px;
  }
}